header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 20rem;
    border: 1px solid black;
}

nav{
    display: flex;
    align-items: center;
    gap: 30px;
}

nav a{
    font-size: 20px;
    font-weight: 500;
    color: black;
}