header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 10rem;
    /* background-color: var(--tertiary); */
    /* position: fixed; */
}

/* header img{
    width:100px;
    height: 100px;
} */

.icons-nav img{
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

nav{
    display: flex;
    align-items: center;
    gap: 50px;
}

nav a{
    font-size: 20px;
    font-weight: 400;
    color: black;
    /* background-color: var(--segundary); */
    /* padding: 8px; */
    /* border-radius: 8px; */
    /* box-shadow: 5px 5px 5px; */
}


nav a:hover{
    /* background-color: var(--tertiary); */
    transition: 2s;
    border-bottom: 2px solid black;
}